<html>

<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Signing State Machines</title>
  <link rel="icon" sizes="192x128" href="images/logo-smart-B.png">
</head>


<link rel="stylesheet" type="text/css" href="css/common.css">
<link rel="stylesheet" type="text/css" href="vis/vis.css" />
<link rel="stylesheet" type="text/css" href="css/mdl/material.min.css">
<script src="css/mdl/material.min.js"></script>

<script src="crypto-js/crypto-js.js"></script>
<script src="jsencrypt/jsencrypt.js"></script>
<script src="vis/vis.js"></script>
<script src="angularjs/1.6.10/angular.min.js"></script>

<script src="bcc-xmlhttp.js"></script>
<script src="ssm-api.js"></script>
<script src="ssm-view.js"></script>
<script type="text/javascript">


// ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- Args parsing and globals

var viewElements = {
	"access": ['access_host__Fld', 'access_port__Fld', 'access_id__Fld', 'access_prv__Fld', 'data__Fld'],
	"user": ['user_id__Fld', 'user_pub__Fld', 'user_prv__Fld', 'user_list__Tbl', 'data__Fld'],
	"session": ['session_id__Fld', 'session_action__Fld', 'session_data__Fld', 'session_list__Tbl', 'session_log__Tbl', 'data__Fld'],
	"ssm": ['ssm_id__Fld', 'ssm_data__Fld', 'ssm_list__Tbl', 'ssm_graph__Cnv', 'data__Fld']
}

function argsFromQueryString(queryString) {
	var args = {};
	if (!queryString)
		return args;
	var getVars = decodeURI(queryString).split("\&");
	for (var i=0; i<getVars.length; i++) {
		var varVal = getVars[i].split("\=");
		if (varVal.length == 2)
			args[varVal[0]] = varVal[1];
	}
	return args;
}


// ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- AngularJS modules

var ssmApp = angular.module('ssm', []);

ssmApp.controller('ssmTableCtrl', function($scope) {
	$scope.ssmList = [];
	$scope.loadStateMachines = function(lst) {
		$scope.ssmList = lst;
	};
	$scope.ssmQuery = function(item) {
		document.getElementById('ssm_id__TxtFld').MaterialTextfield.change(item);
		ssmQuerySetup('ssm',logSSM);
	};
});

ssmApp.controller('sessionTableCtrl', function($scope) {
	$scope.sessionList = [];
	$scope.loadSessions = function(lst) {
		$scope.sessionList = lst;
	};
	$scope.sessionQuery = function(item) {
		document.getElementById('session_id__TxtFld').MaterialTextfield.change(item);
		ssmQuerySetup('session',logSession);
	};
});

ssmApp.controller('userTableCtrl', function($scope) {
	$scope.userList = [];
	$scope.loadUsers = function(lst) {
		$scope.userList = lst;
	};
	$scope.userFieldSet = function(item) {
		document.getElementById('user_id__TxtFld').MaterialTextfield.change(item);
	};
});


// ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- Views management

function logError(result) {
	console.log(result)
	document.getElementById('data__Fld').value = "Error: " + result;
}

function logResult(result) {
	console.log(result)
	document.getElementById('data__Fld').value = JSON.stringify(JSON.parse(result),null,2);
}

function clearView(tag) {
	viewElements[tag].map(function(id) {
		document.getElementById(id).value = "";
	});
	if (tag == 'user') {
		listUser('[]');
	}
	if (tag == 'session') {
		listSession('[]');
	}
	if (tag == 'ssm') {
		listSSM('[]');
		document.getElementById('ssm_graph__Cnv').innerHTML='';
	}
}

function logSSM(result) {
	var ssm = JSON.parse(result);
	var cnv = document.getElementById('ssm_graph__Cnv');
	ssmView(ssm, cnv);
	ssm.onchange = function() {
		document.getElementById('ssm_data__Fld').value = JSON.stringify(this,null,2);
	};
	ssm.onchange();
}

function listSSM(result) {
	var ssmListTable = document.getElementById('ssm_list__Tbl');
	var scope = angular.element(ssmListTable).scope();
	scope.$apply(function() {
		scope.loadStateMachines(JSON.parse(result));
	}); 
}

function logSession(result) {
	document.getElementById('session_data__Fld').value = JSON.stringify(JSON.parse(result),null,2);
}

function digestFile(file) {
	var reader = new FileReader();

	reader.onloadend = function (e) {
		var words = CryptoJS.lib.WordArray.create(reader.result);
		logFileDigest(CryptoJS.SHA256(words).toString(CryptoJS.enc.Hex));
	}

	reader.readAsArrayBuffer(file); 
}

function logFileDigest(digest) {
	var sessObj = {};
	try {
		sessObj = JSON.parse(document.getElementById('session_data__Fld').value);
	}
	catch (e) {
	}
	sessObj.public = digest;
	document.getElementById('session_data__Fld').value = JSON.stringify(sessObj,null,2);
}

function listSession(result) {
	var sessionListTable = document.getElementById('session_list__Tbl');
	var scope = angular.element(sessionListTable).scope();
	scope.$apply(function() {
		scope.loadSessions(JSON.parse(result));
	}); 
}

function listSessionLog(result) {
	document.getElementById('session_log__Tbl').value = JSON.stringify(JSON.parse(result),null,2);
}

function logCredits(result) {
	document.getElementById('user_prv__Fld').value = JSON.stringify(JSON.parse(result),null,2);
}

function logUser(result) {
	var usr = JSON.parse(result);
	document.getElementById('user_id__Fld').value = usr.name;
	document.getElementById('user_pub__Fld').value = usr.pub;
}

function listUser(result) {
	var userListTable = document.getElementById('user_list__Tbl');
	var scope = angular.element(userListTable).scope();
	scope.$apply(function() {
		scope.loadUsers(JSON.parse(result));
	}); 
}


// ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- SSM API wrappers

function usrGenerateKeyPair() {
	JSE.key = null;
	document.getElementById('user_prv__Fld').value = JSE.getPrivateKey();
	document.getElementById('user_pub__Fld').value = JSE.getPublicKey();
}

function hostCmdSetup(uri, cmd, fcn, args, onOk, onError) {
	document.getElementById('data__Fld').value = "";
	var cbctx = bccHostCmd(uri, cmd, fcn, args, onOk, onError);
	return cbctx;
}

function ssmQuerySetup(keyType, onOk, onError) {
	var keyId = document.getElementById((keyType == 'admin' ? 'user' : keyType) + '_id__Fld').value;
	var uri = "http://" + document.getElementById('access_host__Fld').value + ":" + document.getElementById('access_port__Fld').value;
	var hostCmd = ssmQuery(keyType, keyId);
	var cbctx = hostCmdSetup(uri, hostCmd.cmd, hostCmd.fcn, hostCmd.args, onOk, onError);
	return cbctx;
}

function ssmListSetup(keyType, onOk, onError) {
	var uri = "http://" + document.getElementById('access_host__Fld').value + ":" + document.getElementById('access_port__Fld').value;
	var hostCmd = ssmQuery("list", keyType);
	var cbctx = hostCmdSetup(uri, hostCmd.cmd, hostCmd.fcn, hostCmd.args, onOk, onError);
	return cbctx;
}

function ssmLogSetup() {
	var uri = "http://" + document.getElementById('access_host__Fld').value + ":" + document.getElementById('access_port__Fld').value;
	var fcn = "log";
	var queryId = document.getElementById('session_id__Fld').value;
	var hostCmd = ssmQuery(fcn, queryId);
	var cbctx = hostCmdSetup(uri, hostCmd.cmd, hostCmd.fcn, hostCmd.args, listSessionLog, logError);
	return cbctx;
}

function ssmCreditsSetup() {
	var uri = "http://" + document.getElementById('access_host__Fld').value + ":" + document.getElementById('access_port__Fld').value;
	var fcn = "credits";
	var queryId = document.getElementById('user_id__Fld').value;
	var hostCmd = ssmQuery(fcn, queryId);
	var cbctx = hostCmdSetup(uri, hostCmd.cmd, hostCmd.fcn, hostCmd.args, logCredits, logError);
	return cbctx;
}

function ssmGrantSetup() {
	var uri = "http://" + document.getElementById('access_host__Fld').value + ":" + document.getElementById('access_port__Fld').value;
	var rights = JSON.parse(document.getElementById('user_prv__Fld').value);
	var admin = document.getElementById('access_id__Fld').value;
	var adminKey = document.getElementById('access_prv__Fld').value;
	var hostCmd = ssmGrant(rights, admin, adminKey);
	var cbctx = hostCmdSetup(uri, hostCmd.cmd, hostCmd.fcn, hostCmd.args, logResult, logError);
	return cbctx;
}

function ssmRegisterSetup() {
	var uri = "http://" + document.getElementById('access_host__Fld').value + ":" + document.getElementById('access_port__Fld').value;
	var user = {
		name: document.getElementById('user_id__Fld').value,
		pub: flattenPublicKey(document.getElementById('user_pub__Fld').value)
	}
	var admin = document.getElementById('access_id__Fld').value;
	var adminKey = document.getElementById('access_prv__Fld').value;
	var hostCmd = ssmRegister(user, admin, adminKey);
	var cbctx = hostCmdSetup(uri, hostCmd.cmd, hostCmd.fcn, hostCmd.args, logResult, logError);
	return cbctx;
}

function ssmCreateSetup() {
	var uri = "http://" + document.getElementById('access_host__Fld').value + ":" + document.getElementById('access_port__Fld').value;
	var ssm = JSON.parse(document.getElementById('ssm_data__Fld').value);
	var admin = document.getElementById('access_id__Fld').value;
	var adminKey = document.getElementById('access_prv__Fld').value;
	var hostCmd = ssmCreate(ssm, admin, adminKey);
	var cbctx = hostCmdSetup(uri, hostCmd.cmd, hostCmd.fcn, hostCmd.args, logResult, logError);
	return cbctx;
}

function ssmStartSetup() {
	var uri = "http://" + document.getElementById('access_host__Fld').value + ":" + document.getElementById('access_port__Fld').value;
	var session = JSON.parse(document.getElementById('session_data__Fld').value);
	var admin = document.getElementById('access_id__Fld').value;
	var adminKey = document.getElementById('access_prv__Fld').value;
	var hostCmd = ssmStart(session, admin, adminKey);
	var cbctx = hostCmdSetup(uri, hostCmd.cmd, hostCmd.fcn, hostCmd.args, logResult, logError);
	return cbctx;
}

function ssmPerformSetup() {
	var uri = "http://" + document.getElementById('access_host__Fld').value + ":" + document.getElementById('access_port__Fld').value;
	var context = JSON.parse(document.getElementById('session_data__Fld').value);
	var action = document.getElementById('session_action__Fld').value;
	var user = document.getElementById('access_id__Fld').value;
	var userKey = document.getElementById('access_prv__Fld').value;
	var hostCmd = ssmPerform(action, context, user, userKey);
	var cbctx = hostCmdSetup(uri, hostCmd.cmd, hostCmd.fcn, hostCmd.args, logResult, logError);
	return cbctx;
}

function ssmLimitSetup() {
	var uri = "http://" + document.getElementById('access_host__Fld').value + ":" + document.getElementById('access_port__Fld').value;
	var session = JSON.parse(document.getElementById('session_data__Fld').value);
	var admin = document.getElementById('access_id__Fld').value;
	var adminKey = document.getElementById('access_prv__Fld').value;
	var hostCmd = ssmLimit(session, admin, adminKey);
	var cbctx = hostCmdSetup(uri, hostCmd.cmd, hostCmd.fcn, hostCmd.args, logResult, logError);
	return cbctx;
}


// ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- View initialization

function initView() {
	var defaultView = "access"
	var args = argsFromQueryString(window.location.toString().split("\?")[1]);
	if (args.host)
		document.getElementById('access_host__Fld').value = args.host;
	if (args.port)
		document.getElementById('access_port__Fld').value = args.port;
	if (args.view)
		defaultView = args.view;
	if (args.fcn && args.arg && (args.fcn == "session" || args.fcn == "ssm")) {
		defaultView = args.fcn;
		document.getElementById(args.fcn + '_id__TxtFld').MaterialTextfield.change(args.arg);
		ssmQuerySetup(args.fcn, args.fcn == "session" ? logSession : logSSM);
	}
	document.getElementById(defaultView + "View__Tab").click();
}

</script>



<body onload="initView()"  ng-app="ssm">

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

<!-- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- Header -->
<header class="mdl-layout__header">
  <div class="mdl-layout__header-row">
    <span class="mdl-layout-title">
      <a href="https://github.com/civis-blockchain/blockchain-ssm">Signing State Machines</a>
    </span>
    <div class="mdl-layout-spacer"></div>
    <img src="images/logo-smart-B.png" style="max-height:100%">
  </div>
  <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
    <a href="#data__View" class="mdl-layout__tab" id="dataView__Tab">&nbsp;</a>
    <a href="#access__View" class="mdl-layout__tab" id="accessView__Tab">Access</a>
    <a href="#user__View" class="mdl-layout__tab" id="userView__Tab">User</a>
    <a href="#session__View" class="mdl-layout__tab" id="sessionView__Tab">Session</a>
    <a href="#ssm__View" class="mdl-layout__tab" id="ssmView__Tab">State Machine</a>
  </div>
</header>
<!-- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ------>



<!-- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- Content -->
<main class="mdl-layout__content">



<!-- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- Data Tab View -->
<section class="mdl-layout__tab-panel" id="data__View">
<div class="page-content">
</div>
</section>
<!-- ---- ---- ---- ---- ---- ---- ---- ---- ---- ------>



<!-- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- Access Tab View -->
<section class="mdl-layout__tab-panel" id="access__View">
<div class="page-content">

<div class="mdl-grid">

<!-- Host address / Port -->
<div class="mdl-cell mdl-cell--3-col">
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" id="access_host__TxtFld">
      <input class="mdl-textfield__input" type="text" value="127.0.0.1" id="access_host__Fld">
      <label class="mdl-textfield__label" for="access_host__TxtFld">Host addess</label>
  </div>
</div>
<div class="mdl-cell mdl-cell--1-col">
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" id="access_port__TxtFld">
      <input class="mdl-textfield__input" type="text" value="8080" id="access_port__Fld">
      <label class="mdl-textfield__label" for="access_port__TxtFld">Port</label>
  </div>
</div>

<div class="mdl-cell mdl-cell--4-col mdl-cell--hide-phone mdl-layout-spacer">
</div>

<!-- User access id -->
<div class="mdl-cell mdl-cell--4-col">
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" id="access_id__TxtFld">
      <input class="mdl-textfield__input" type="text" id="access_id__Fld">
      <label class="mdl-textfield__label" for="access_id__TxtFld">User</label>
  </div>
</div>

<!-- Private key -->
<div class="mdl-cell mdl-cell--4-col">
Private key
</div>

<div class="mdl-cell mdl-cell--8-col mdl-cell--hide-phone mdl-layout-spacer">
</div>

<div class="mdl-cell mdl-cell--8-col mdl-cell--4-col-phone">
<div style="width:95%" class="mdl-textfield mdl-js-textfield mdl-color--primary mdl-color-text--primary-contrast" id="access_prv__TxtFld">
<textarea rows="28" cols="64" class="mdl-textfield__input" style="font-family:monospace" id="access_prv__Fld"></textarea>
</div>
</div>

<!-- Clear button -->
<div class="mdl-cell mdl-cell--4-col">
<button type="button" class="mdl-button mdl-js-button mdl-button--raised" onclick="clearView('access')">
Clear view
</button>
</div>

</div>
</div>
</section>
<!-- ---- ---- ---- ---- ---- ---- ---- ---- ---- ------>



<!-- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- User Tab View -->
<section class="mdl-layout__tab-panel" id="user__View">
<div class="page-content">

<div class="mdl-grid">


<!-- ---- ---- ---- ---- User / Admin query box -->
<div class="mdl-cell mdl-cell--8-col mdl-cell--4-col-phone mdl-grid">

<!-- User query id / buttons -->
<div class="mdl-cell mdl-cell--4-col">
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" id="user_id__TxtFld">
      <input class="mdl-textfield__input" type="text" id="user_id__Fld">
      <label class="mdl-textfield__label" for="user_id__TxtFld">User</label>
  </div>
</div>

<div class="mdl-cell mdl-cell--2-col">
<button type="button" class="mdl-button mdl-js-button mdl-button--raised" onclick="ssmQuerySetup('user',logUser)">
query user
</button>
</div>

<div class="mdl-cell mdl-cell--2-col">
<button type="button" class="mdl-button mdl-js-button mdl-button--raised" onclick="ssmQuerySetup('admin',logUser)">
query admin
</button>
</div>

<div class="mdl-cell mdl-cell--2-col mdl-layout-spacer">
</div>
<!-- Clear button -->
<div class="mdl-cell mdl-cell--2-col">
<button type="button" class="mdl-button mdl-js-button mdl-button--raised" onclick="clearView('user')">
Clear view
</button>
</div>


<!-- Public key / register button -->
<div class="mdl-cell mdl-cell--10-col mdl-cell--2-col-phone">
Public key
</div>

<div class="mdl-cell mdl-cell--2-col">
<button type="button" class="mdl-button mdl-js-button mdl-button--raised" onclick="ssmRegisterSetup()">
register user
</button>
</div>

<div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">
<div style="width:95%" class="mdl-textfield mdl-js-textfield mdl-color--primary mdl-color-text--primary-contrast" id="user_pub__TxtFld">
<textarea rows="4" cols="64" class="mdl-textfield__input" style="font-family:monospace" id="user_pub__Fld"></textarea>
</div>
</div>

<!-- Private key / Credits / buttons -->
<div class="mdl-cell mdl-cell--6-col mdl-cell--2-col-phone">
Private key / Credits
</div>

<div class="mdl-cell mdl-cell--2-col">
<button type="button" class="mdl-button mdl-js-button mdl-button--raised" onclick="ssmGrantSetup()">
grant
</button>
</div>

<div class="mdl-cell mdl-cell--2-col">
<button type="button" class="mdl-button mdl-js-button mdl-button--raised" onclick="ssmCreditsSetup()">
credits
</button>
</div>

<div class="mdl-cell mdl-cell--2-col">
<button type="button" class="mdl-button mdl-js-button mdl-button--raised" onclick="usrGenerateKeyPair()">
generate key pair
</button>
</div>

<div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">
<div style="width:95%" class="mdl-textfield mdl-js-textfield mdl-color--primary mdl-color-text--primary-contrast" id="user_prv__TxtFld">
<textarea rows="12" cols="64" class="mdl-textfield__input" style="font-family:monospace" id="user_prv__Fld"></textarea>
</div>
</div>

</div>
<!-- ---- ---- ---- ------>


<!-- ---- ---- ---- ---- User / Admin list box -->
<div class="mdl-cell mdl-cell--4-col mdl-grid">

<!-- User list buttons -->
<div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-phone">
<button type="button" class="mdl-button mdl-js-button mdl-button--raised" onclick="ssmListSetup('user',listUser)">
list users
</button>
</div>

<div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-phone">
<button type="button" class="mdl-button mdl-js-button mdl-button--raised" onclick="ssmListSetup('admin',listUser)">
list admins
</button>
</div>

<!-- Users / Admins list -->
<div style="overflow:auto;max-height:480px;" class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone"  ng-controller="userTableCtrl">
<!--
<div style="width:95%" class="mdl-textfield mdl-js-textfield mdl-color--primary mdl-color-text--primary-contrast" id="user_list__TxtTbl">
<textarea class="mdl-textfield__input" style="font-family:monospace"  rows="30" cols="32" id="user_list__Tbl"></textarea>
-->
<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp full-width">
<thead>
<tr class="mdl-color--primary">
	<th class="mdl-data-table__cell--non-numeric mdl-color-text--primary-contrast">User / Admin</th>
</tr>
</thead>
<tbody id="user_list__Tbl">
<tr ng-repeat="userItem in userList">
	<td class="mdl-data-table__cell--non-numeric" ng-click="userFieldSet(userItem)">{{userItem}}</td>
</tr>
</tbody>
</table>

</div>
<!-- ---- ---- ---- ------>

</div>
</div>
</section>
<!-- ---- ---- ---- ---- ---- ---- ---- ---- ---- ------>



<!-- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- Session Tab View -->
<section class="mdl-layout__tab-panel" id="session__View">
<div class="page-content">

<div class="mdl-grid">

<!-- ---- ---- ---- ---- Session query / action box -->
<div class="mdl-cell mdl-cell--8-col mdl-cell--4-col-phone mdl-grid">

<!-- Session query / start buttons -->
<div class="mdl-cell mdl-cell--4-col">
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" id="session_id__TxtFld">
      <input class="mdl-textfield__input" type="text" id="session_id__Fld">
      <label class="mdl-textfield__label" for="session_id__TxtFld">Session</label>
  </div>
</div>

<div class="mdl-cell mdl-cell--2-col">
<button type="button" class="mdl-button mdl-js-button mdl-button--raised" onclick="ssmQuerySetup('session',logSession)">
query session
</button>
</div>

<div class="mdl-cell mdl-cell--2-col">
<button type="button" class="mdl-button mdl-js-button mdl-button--raised" onclick="ssmStartSetup()">
start session
</button>
</div>

<div class="mdl-cell mdl-cell--2-col mdl-layout-spacer">
</div>

<!-- Clear button -->
<div class="mdl-cell mdl-cell--2-col">
<button type="button" class="mdl-button mdl-js-button mdl-button--raised" onclick="clearView('session')">
Clear view
</button>
</div>

<!-- Action field / perform button -->
<div class="mdl-cell mdl-cell--4-col">
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" id="session_action__TxtFld">
      <input class="mdl-textfield__input" type="text" id="session_action__Fld">
      <label class="mdl-textfield__label" for="session_action__TxtFld">Action</label>
  </div>
</div>

<div class="mdl-cell mdl-cell--2-col">
<button type="button" class="mdl-button mdl-js-button mdl-button--raised" onclick="ssmPerformSetup()">
perform action
</button>
</div>

<!-- Digest file / hash -->
<div class="mdl-cell mdl-cell--2-col">
<label class="file-input mdl-button mdl-js-button mdl-button--raised">
digest file
<input type="file" onchange="digestFile(this.files[0])">
</label>
</div>

<!-- Limit button / count field -->
<div class="mdl-cell mdl-cell--4-col">
<button type="button" class="mdl-button mdl-js-button mdl-button--raised" onclick="ssmLimitSetup()">
limit
</button>
</div>

<!-- Session field -->
<div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">
<div style="width:95%" class="mdl-textfield mdl-js-textfield mdl-color--primary mdl-color-text--primary-contrast" id="session_data__TxtFld">
<textarea rows="22" cols="64" class="mdl-textfield__input" style="font-family:monospace" id="session_data__Fld"></textarea>
</div>
</div>

</div>
<!-- ---- ---- ---- ------>

<!-- ---- ---- ---- ---- Session list / log box -->
<div class="mdl-cell mdl-cell--4-col mdl-grid">

<!-- Session list button / box -->
<div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-phone">
<button type="button" class="mdl-button mdl-js-button mdl-button--raised" onclick="ssmListSetup('session',listSession)">
list sessions
</button>
</div>

<div class="mdl-cell mdl-cell--6-col mdl-cell--hide-phone mdl-layout-spacer">
</div>

<div style="overflow:auto;max-height:240px;" class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone"  ng-controller="sessionTableCtrl">
<!--
<div style="width:95%" class="mdl-textfield mdl-js-textfield mdl-color--primary mdl-color-text--primary-contrast" id="session_list__TxtTbl">
<textarea class="mdl-textfield__input" style="font-family:monospace"  rows="12" cols="32" id="session_list__Tbl"></textarea>
-->
<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp full-width">
<thead>
<tr class="mdl-color--primary">
	<th class="mdl-data-table__cell--non-numeric mdl-color-text--primary-contrast">Session</th>
</tr>
</thead>
<tbody id="session_list__Tbl">
<tr ng-repeat="sessionItem in sessionList">
	<td class="mdl-data-table__cell--non-numeric" ng-click="sessionQuery(sessionItem)">{{sessionItem}}</td>
</tr>
</tbody>
</table>

</div>

<!-- Session log button / box -->
<div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-phone">
<button type="button" class="mdl-button mdl-js-button mdl-button--raised" onclick="ssmLogSetup()">
log session
</button>
</div>

<div class="mdl-cell mdl-cell--6-col mdl-cell--hide-phone mdl-layout-spacer">
</div>

<div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">
<div style="width:95%" class="mdl-textfield mdl-js-textfield mdl-color--primary mdl-color-text--primary-contrast" id="session_log__TxtTbl">
<textarea class="mdl-textfield__input" style="font-family:monospace"  rows="10" cols="32" id="session_log__Tbl"></textarea>
</div>
</div>

</div>
<!-- ---- ---- ---- ------>

</div>
</div>
</section>
<!-- ---- ---- ---- ---- ---- ---- ---- ---- ---- ------>



<!-- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- State Machine Tab View -->
<section class="mdl-layout__tab-panel" id="ssm__View">
<div class="page-content">

<div class="mdl-grid">

<!-- ---- ---- ---- ---- State Machine query / create box -->
<div class="mdl-cell mdl-cell--8-col mdl-cell--4-col-phone mdl-grid">

<!-- State Machine query / create buttons -->
<div class="mdl-cell mdl-cell--4-col">
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" id="ssm_id__TxtFld">
      <input class="mdl-textfield__input" type="text" id="ssm_id__Fld">
      <label class="mdl-textfield__label" for="session_id__TxtFld">State Machine</label>
  </div>
</div>

<div class="mdl-cell mdl-cell--2-col">
<button type="button" class="mdl-button mdl-js-button mdl-button--raised" onclick="ssmQuerySetup('ssm',logSSM)">
query SSM
</button>
</div>

<div class="mdl-cell mdl-cell--2-col">
<button type="button" class="mdl-button mdl-js-button mdl-button--raised" onclick="ssmCreateSetup()">
create SSM
</button>
</div>

<div class="mdl-cell mdl-cell--2-col">
<button type="button" class="mdl-button mdl-js-button mdl-button--raised" onclick="logSSM(document.getElementById('ssm_data__Fld').value)">
preview SSM
</button>
</div>

<!-- Clear button -->
<div class="mdl-cell mdl-cell--2-col">
<button type="button" class="mdl-button mdl-js-button mdl-button--raised" onclick="clearView('ssm');">
Clear view
</button>
</div>

<!-- State Machine field -->
<div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-phone">
<div style="width:95%" class="mdl-textfield mdl-js-textfield mdl-color--primary mdl-color-text--primary-contrast" id="ssm_data__TxtFld">
<textarea rows="28" cols="32" class="mdl-textfield__input" style="font-family:monospace" id="ssm_data__Fld"></textarea>
</div>
</div>

<!-- State Machine graph canvas -->
<div class="mdl-cell mdl-cell--8-col mdl-cell--4-col-phone">
<div style="min-width:240px;min-height:320px;max-height:480px" id="ssm_graph__Cnv">
</div>
</div>

</div>
<!-- ---- ---- ---- ------>


<!-- ---- ---- ---- ---- State Machines list box -->
<div class="mdl-cell mdl-cell--4-col mdl-grid">
	
<!-- State Machines list button -->
<div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-phone">
<button type="button" class="mdl-button mdl-js-button mdl-button--raised" onclick="ssmListSetup('ssm',listSSM)">
list state machines
</button>
</div>

<div class="mdl-cell mdl-cell--6-col mdl-cell--hide-phone mdl-layout-spacer">
</div>

<!-- State Machines list -->
<div style="overflow:auto;max-height:480px;" class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone"  ng-controller="ssmTableCtrl">
<!--
<div style="width:95%" class="mdl-textfield mdl-js-textfield mdl-color--primary mdl-color-text--primary-contrast" id="ssm_list__TxtTbl">
<textarea class="mdl-textfield__input" style="font-family:monospace"  rows="30" cols="32" id="ssm_list__Tbl"></textarea>
-->
<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp full-width">
<thead>
<tr class="mdl-color--primary">
	<th class="mdl-data-table__cell--non-numeric mdl-color-text--primary-contrast">State Machine</th>
</tr>
</thead>
<tbody id="ssm_list__Tbl">
<tr ng-repeat="ssmItem in ssmList">
	<td class="mdl-data-table__cell--non-numeric" ng-click="ssmQuery(ssmItem)">{{ssmItem}}</td>
</tr>
</tbody>
</table>

</div>

</div>
<!-- ---- ---- ---- ------>

</div>
</div>
</section>
<!-- ---- ---- ---- ---- ---- ---- ---- ---- ---- ------>


<!-- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- Data result / error footer-->

<div class="mdl-grid">
<div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone mdl-textfield mdl-js-textfield mdl-color--primary mdl-color-text--primary-contrast"  id="data__TxtFld">
<input class="mdl-textfield__input" type="text" style="font-family:monospace" id="data__Fld" readonly>
</div>
</div>

<!-- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ------>


</main>
<!-- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ------>



</div>



</body>
</html>
